<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980933211659-ubcjr335ljif94190rnkc5vrv2ma58j4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980933211659-ubcjr335ljif94190rnkc5vrv2ma58j4</string>
	<key>API_KEY</key>
	<string>AIzaSyAikd34EQ5uNnOx8QH32H7fujcBsRDC800</string>
	<key>GCM_SENDER_ID</key>
	<string>980933211659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Oscar.MiPrimerLogin</string>
	<key>PROJECT_ID</key>
	<string>recordatorios-programacion</string>
	<key>STORAGE_BUCKET</key>
	<string>recordatorios-programacion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980933211659:ios:af4d0e5b1db5a2f5d6790e</string>
</dict>
</plist>